*, *::before,*::after{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

 html,body{
  height: 100%;
  min-width: 320px;
 }
 body{
  font-family: 'Manrope', sans-serif;
  background-color: #0E1B28;
 }
 ul{

 }
 a{
  text-decoration: none;
 }
 li{
  list-style: none;
 }
.wrapper{
  overflow: hidden;/*--Горизонтальный скролл убирает---*/
  
  display: flex;
  flex-direction: column;

}

[class*="__container"]{
  max-width: 1400px;
  margin: 0 auto; /*-Центровка контейнера-*/
  padding: 0px 15px;/*-Отступы безопастности-*/
 }
 .page{
  flex: 1 1 auto;
 }
 /*---HEADER---*/
 header{
    background: #FFF;
 }
 .header__container{

 }
 .header{
    position: fixed;
    width: 100%;
    opacity: 1;
    color: #fff;
    z-index: 3;
 }
 .header__content{
    display: flex;
    justify-content:space-between; 
    align-items: center;
 }
 .header__main{
    display: flex;
    align-items: center;
 }
 .header__name h2{
    color: #646464;
    font-family: 'Quattrocento Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
 }
 .header__name span{
    color: #008162;
 }
 /*burger*/
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    opacity: 0.8;
    background-color: #999;
    width: 100%;
    height: 100%;  
    transition: 0.7s;
    justify-content: center;
}

.nav-item{
    margin: 0px 0px 40px 80px;
    transition: 0.9s;
}
.nav-menu.active{
    left: 0;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    font-size: 47px;
    line-height: 125%;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.7s ease;
}
/*left*/
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #fff;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*left*/
/*right*/

.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: #fff;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*right*/
.hamburger{
    display: block;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #008162;
}


/*-Portfolio-*/
.page__main{
    
}
.main__background{
    background-image: url('../img/contact/main.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.main__container{
    padding: 260px 10px 236px 10px;
}
.intro{

}
.text{
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 3px;
}
.first__span{
    color: #00B488;
}
/*line*/
h1{

}
.line-block{
  padding-top: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.underline {
  height: 1px;
  width: 25%;
  left: 0px;
  background-color: #fff;
}

@-webkit-keyframes easein {
  0% {
    width: 0;
    left: 50%;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 5em;
  }
  .underline {
    height: 2px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  .underline {
    height: 1px;
  }
}
@media (max-width: 1080px){
  .hedeer{
    max-width: 1440px;
  }
}
/*---contact---*/
.page__contact{

}
.contact__container{
  padding: 110px 10px 68px 10px;
}
.contact__title{

}
.text__title {
    font-family: 'Montserrat';
    color: #00B488;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
}
.line__block {
  padding: 20px 0px 0px 5px;
}
.line {
    border: 1px solid #BE0072;
    width: 125px;
}
.contact__content{
  padding: 0px 0px 0px 20px;
}
.social:not(:last-child){
  padding-bottom: 40px;
}
.social__text{
  font-size: 24px;
  line-height: 134%;
  color: #BE0072;
  letter-spacing: 0.5px
}
.links{
  color: #fff;
}
.links:hover{
  color: #00B488;
}
.contact__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .contact__image{
    margin-bottom: 100px;
  }
  .contact__image img{
    width: 600px;
    height: 500px;
  }
  footer{
    background-color: #0A141D;
    padding: 32px 0px 32px 0px;
}
.footer__container {
}
.footer-cop {
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
/*adaptation*/
@media (max-width: 1100px){
  .contact__image img{
    width: 500px;
    height: 400px;
  }
  .social__text{
    font-size: 20px;
  }
  .text{
    font-size: 64px;
  }
  .line__block{
    padding-top: 45px;
  }
}
@media (max-width: 925px){
  .contact__image img{
    width: 350px;
    height: 250px;
  }
  .social__text{
    font-size: 15px;
  }
}
@media (max-width: 769px){
  .nav-link{
    font-size: 36px;
  }
  .text__title{
    font-size: 26px;
  }
  .line__block{
    padding-top: 20px;
  }
  .text{
    font-size: 56px;
  }
}
@media (max-width: 666px){
  .contact__image img{
    width: 260px;
    height: 200px;
  }
  .main__container{
    padding: 200px 10px 200px 10px;
  }
  .contact__container{
    padding: 75px 10px 68px 10px;
  }
}
@media (max-width: 580px){
  .contact__image{
    display: none;
  }
  .contact__content{
    padding-top: 65px;
  }
  .header__logo{
    display: none;
  }
  .nav-item{
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 426px){
  .text{
    font-size: 42px;
  }
  .line-block{
    padding-top: 40px;
  }
}
