*, *::before,*::after{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

 html,body{
 	height: 100%;
 	min-width: 320px;
 }
 body{
 	font-family: 'Manrope', sans-serif;
 	background-color: #0E1B28;
 }
 ul{

 }
 a{
 	text-decoration: none;
 }
 li{
 	list-style: none;
 }
.wrapper{
	overflow: hidden;/*--Горизонтальный скролл убирает---*/
	
	display: flex;
	flex-direction: column;

}

[class*="__container"]{
 	max-width: 1400px;
 	margin: 0 auto; /*-Центровка контейнера-*/
 	padding: 0px 15px;/*-Отступы безопастности-*/
 }
 .page{
 	flex: 1 1 auto;
 }
 /*---HEADER---*/
 header{
    background: #FFF;
 }
 .header__container{

 }
 .header__content{
    display: flex;
    justify-content:space-between; 
    align-items: center;
 }
 .header__main{
    display: flex;
    align-items: center;
 }
 .header__name h2{
    color: #646464;
    font-family: 'Quattrocento Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
 }
 .header__name span{
    color: #008162;
 }
 /*burger*/
.burger-menu {
  position: relative;
  height: 30px;
  margin: 0px 30px 0px 70px;
  color: #60635E;
  text-transform: uppercase;
  z-index: 50;
}

.burger-click-region {
  position: absolute;
  right: 0;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.burger-menu-piece {
  display: block;
  position: relative;
  width: 40px;
  border-top: 6px solid #00B488;
  transform-origin: 50% 50%;
  margin-top: 5px;
}

.sidebar {
  background: #fff;
  opacity: 0.85;
  width: 30%;
  margin-top: 21px;
  margin-left: -127%;
  height: 88%;
  position: absolute;
}


.sidebar li {
  font-family: sans-serif;
  list-style-type: none;
  font-size: 3.7vw;
  margin-bottom: 120px;
  text-align:left;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  min-width: 100%;
}

.sidemenu {
  margin: 90px 0 0 60px;
}
.nav{
  color: #333;
}

/*----MAIN----*/
.page__main{
      
}
.main__background{
    background: url('../img/main/01.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.main__container{
    padding: 260px 0px 150px 0px;
}
.intro{

}
.text{
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 3px;
}
.first__span{
    color: #00B488;
}
.second__span{
    color: #BE0072;
}
/*line*/
h1{

}
.line-block{
  padding-top: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.underline {
  height: 1px;
  width: 45%;
  left: 0px;
  background-color: #fff;
}

@-webkit-keyframes easein {
  0% {
    width: 0;
    left: 50%;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 5em;
  }
  .underline {
    height: 2px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  .underline {
    height: 1px;
  }
}

/*---main----*/
main{
    
}
/*---body---*/
.page__body{

}
.body__container{
    padding: 150px 0px 68px 0px;
}
.body__content{
    display: flex;
    
}
.body__image{

}
.body__item{
    padding-left: 230px;
}
.body__title{
    
}
.text__title{
    font-family: 'Montserrat';
    color: #00B488;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
}
.line__block{
    padding: 20px 0px 0px 5px;
}
.line{
    border: 1px solid #BE0072;
    width: 125px;

}
.body__text{
    width: 407px;
    font-family: 'Noto Sans';
}
.text-first{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    padding: 29px 0px 20px 0px;
}
.text-second{
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.01em;

}
.form-button__body{
    padding-top: 60px;
}
/*---SKIL---*/
.page__skills {
    background-color: #182B3E;
}
.skills__container {
    padding: 120px 0px 95px 0px;
}
.skills__content {
    display: flex;
    justify-content: space-between;
}
.skills__left-block {
}
.skills-left__title {
    padding-bottom: 45px;
}
.skills__title {
    font-family: 'Montserrat';
    color: #00B488;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
}
.skills__line {
    margin: 20px 0px 0px 3px;
    border: 1px solid #BE0072;
    width: 125px;
}
.skills__list {
    margin-left: 13px;
}
.list__item {
    display: flex;
    align-items: center;
}
.list__item:not(:last-child){
    margin-bottom: 20px;
}
.skills {
    margin-left: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
}
.skills__sub-title{
    font-family: 'Montserrat';
    color: #00B488;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
}
.skills-left__sub-title{
    padding: 30px 0px 30px 0px;
}
.skills__sub-line{
    margin: 20px 0px 0px 1px;
    border: 1px solid #BE0072;
    width: 125px;
}
.skills__sub-list{
    margin-left: 13px;
}
.skills__right-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 90px;

}
.skills-blocks{
    
}
.skills__adapt{
    width: 50%;
    text-align: center;
}
.adapt__image{

}
.adapt__text{
    margin-top: 24px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #BE0072;
}
/*---Portfolio---*/
.page__portfolio{

}
.portfolio__container{
    padding: 100px 0px 50px 0px;
}
.portfolio__title-block{
    display: flex;
    justify-content: flex-end;
}
.portfolio__title{
    text-align: right;
    font-family: 'Montserrat';
    color: #00B488;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}
.portfolio__line{
    margin: 20px 0px 0px 3px;
    border: 1px solid #BE0072;
    width: 125px;
}
.portfolio__content{
    display: flex;
    justify-content: space-evenly;
    padding: 149px 0px 80px 0px;
}
.portfolio__content img{
    opacity: 0.8;
}
.portfolio__projects{
    width: 300px;
    height: 400px;
    border: 1px solid #00B488;
    transition: all 0.5s ease;
    cursor: pointer;
}
.portfolio__projects:hover {
    box-shadow: -30px 80px 200px rgb(0, 0, 0,0.25);
    -moz-transform: translate(0px, -12px);
    -webkit-transform: translate(0px, -12px);
    -o-transform: translate(0px, -12px);
    -ms-transform: translate(0px, -12px);
    transform: translate(0px, -12px);
}
.portfolio__projects-second{
    width: 300px;
    height: 400px;
    border: 1px solid #BE0072;
    transition: all 0.5s ease;
    cursor: pointer;
}
.portfolio__projects-second:hover {
    box-shadow: -30px 80px 200px rgb(0, 0, 0,0.25);
    -moz-transform: translate(0px, -12px);
    -webkit-transform: translate(0px, -12px);
    -o-transform: translate(0px, -12px);
    -ms-transform: translate(0px, -12px);
    transform: translate(0px, -12px);
}
.blur{
    filter: blur(1px); /* Размытие изображения */
    transition: 0.2s; /* Время перехода */
}
.blur:hover{
    filter: blur(0);
}
.portfolio__button{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio__action{
    padding: 13px 67px;
    border: 1px solid #0073DD;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}
.portfolio__action:hover{
    background-color: #014079;
}
.form-button{
    align-items: center;
    justify-content: center;
     text-align: center;
}
.neon-button {
    font-family: 'Montserrat';
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 35px;
    transition: 0.2s;
    cursor: pointer;
}

.neon-button-blue {
    color: #00B488;
}

.neon-button-blue:hover {
    background-color: #BE0072;
    color: #fff;
    border: 1px solid #BE0072;
    box-shadow: 5px 5px 50px 5px #BE0072;
}
/*--footer--*/
footer{
    background-color: #0A141D;
    padding: 32px 0px 32px 0px;
}
.footer__container {
}
.footer-cop {
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
